<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Documentation</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Fuse Components</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Validators</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    mustMatch
                </h2>
            </div>
        </div>
        <button
            class="-ml-3 sm:ml-0 mb-2 sm:mb-0 order-first sm:order-last"
            mat-icon-button
            (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
    </div>

    <div class="flex-auto max-w-3xl p-6 sm:p-10 prose prose-sm">

        <p>
            The <code>mustMatch</code> validator can be used to check if two different form fields has the same value. For example, a <strong>Confirm password</strong> should
            have the same value with the <strong>Password</strong> field. To validate that, the <code>mustMatch</code> validator can be used.
        </p>

        <h3>Usage</h3>
        <!-- @formatter:off -->
        <textarea fuse-highlight
                  lang="typescript">
            FuseValidators.mustMatch(controlPath, matchingControlPath)
        </textarea>
        <!-- @formatter:on -->

        <h3>Parameters</h3>
        <div class="bg-card py-3 px-6 mb-4 rounded shadow">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>controlPath: string</div>
                        </td>
                        <td>
                            A dot-delimited string values that define the path to the control.
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>matchingControlPath: string</div>
                        </td>
                        <td>
                            A dot-delimited string values that define the path to the matching control.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            Because the <code>mustMatch</code> validator requires parameters, it must be used within the <code>validators</code> option of the form builder:
        </p>
        <!-- @formatter:off -->
        <textarea fuse-highlight
                  lang="typescript">
            import { FuseValidators } from '@fuse/validators';

            // Create the reset password form
            this.resetPasswordForm = this._formBuilder.group(
                {
                    password       : ['', Validators.required],
                    passwordConfirm: ['', Validators.required]
                },
                {
                    validators: FuseValidators.mustMatch('password', 'passwordConfirm')
                }
            );
        </textarea>
        <!-- @formatter:on -->
        <p>
            To show an error message on the field, the <code>mat-error</code> element can be used within the <code>mat-form-field</code>:
        </p>
        <!-- @formatter:off -->
        <textarea fuse-highlight
                  lang="html">
            <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('mustMatch')">
                Passwords must match
            </mat-error>
        </textarea>
        <!-- @formatter:on -->

    </div>

</div>
